@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button{
    @apply text-3xl hover:text-blue-500 active:text-[#0194ff];
}

.instagram:hover{
    color: #bc2a8d;
}

.facebook:hover{
    color: #3b5998;
}

.linkedin:hover{
    color: #0077b5;
}

.github:hover{
    color: #24292e;
}

.modal-container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content{
    background-color: #16182a;
    max-width: 400px;
    max-height: 600px;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply p-5;
}

.fade-animation {
    animation: fadeTop ease-in-out 0.5s;
}
@keyframes fadeTop {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}